/* Start Box Model */
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-30{
    font-size: 30px;
}
.fs-40{
    font-size: 40px;
}
.fw-600{
    font-weight: 600;
}

.mt-20{
    margin-top: 20px;
}
.mt-10{
    margin-top: 10px;
}

.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}

.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}

.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
@media (max-width:767px){
    .p-sm-10{
        padding: 10px;
    }
}

.r-6{
    border-radius: 6px;
}
.r-half{
    border-radius: 50%;
}

.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.ali-center{
    align-items: center;
}
.flex-1{
    flex: 1;
}
.wrap{
    flex-wrap: wrap;
}

.text-cap{
    text-transform: capitalize;
}
.text-center{
    text-align: center;
}

.p-relative{
    position: relative;
}

.bg-white{
    background-color: white;
}
.bg-eee{
    background-color: #eee;
}
.orange{
    color:var(--orange-color) ;

}
.blue{
    color:var(--blue-color) ;

}
.green{
    color:var(--green-color) ;

}
.red{
    color:var(--red-color) ;

}
.gray{
    color:var(--gray-color) ;

}

.gap-20{
    gap: 20px;
}
.gap-10{
    gap: 10px;
}
/* End Box Model */

/* Start Component */
.d-flex-center{
    display: flex;
    justify-content: center;
    align-content: center;

}
.d-flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column-wrap{
    flex-direction: column;
    flex-wrap: wrap;
}
/* End Component */

/* Start Mod */
.ccc-border{
    border: solid 1px #ccc;
    border-radius: 6px;
}
/* End Mod */



/* Start Toggle */
label[for='toggle']{
    background-color: #ccc;
    width: 80px;
    display: block;
    border-radius: 20px;
    height: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
label[for='toggle'] input{
    visibility: hidden;

}
label[for='toggle'] .round{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 2.5px;
    transition: var(--main-transition);
    display: flex;
    justify-content: center;
    align-items: center;
}
label[for='toggle'] .round::before{
    color: #ccc;
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;

}
label[for='toggle'] input:checked + .round{
    left: calc(100% - 27.5px);
}
label[for='toggle'] input:checked + .round::before{
    content: "\f00c";
    color: var(--blue-color);
}
label[for='toggle'] input ~ .bg{
    transition: var(--main-transition);
}
label[for='toggle'] input ~ .bg {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
label[for='toggle'] input:checked ~ .bg {
    height: 100%;
    width: 100%;
    background-color: var(--blue-color);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* End Toggle */